body{
    margin: 0%;
    padding: 0;
    background-color: rgb(245, 248, 38);
  }
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px;
    background-color:orange;
  }
  .logo{
    display: flex;
    align-items: center;
  }
  .logo img{
    height: 80px;
    margin-right: 10px;
    align-items: center;
  }
  .logo h1{
    font-size: 24px;
    margin: 0;
  }
  nav li{
    display: flex;
    align-items: center;
  }
  nav a:hover{
    color: yellow;
  }
  nav ul{
    display: flex;
    list-style: none;
    margin: 0%;
    padding: 0%;
}
  nav a{
    font-weight: 600;
    padding-right: 30px;
}
    a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

    .registro button{
      display: inline-block;
      padding: 10px 20px;
      text-decoration: none;
}
button {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #f59032,
                -6px -6px 12px #e07e23;
   }
   
   button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, orange 0%, yellow 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   button:hover::before {
    width: 9em;
   }

  

  