body{
    margin: 0%;
    padding: 0;
    background-color: rgb(245, 248, 38);
  }
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px;
    background-color:orange;
  }
  .logo{
    display: flex;
    align-items: center;
  }
  .logo img{
    height: 80px;
    margin-right: 10px;
    align-items: center;
  }
  .logo h1{
    font-size: 24px;
    margin: 0;
  }
  nav li{
    display: flex;
    align-items: center;
  }
  nav a:hover{
    color: yellow;
  }
  nav ul{
    display: flex;
    list-style: none;
    margin: 0%;
    padding: 0%;
}
  nav a{
    font-weight: 600;
    padding-right: 30px;
}
    a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

    .registro button{
      display: inline-block;
      padding: 10px 20px;
      text-decoration: none;
}
button {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #f59032,
                -6px -6px 12px #e07e23;
   }
   
   button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, orange 0%, yellow 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   button:hover::before {
    width: 9em;
   }

  .hambuerguesa{
    margin: 0%;
    padding: 0%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
  }
  .slide{
    width: 500%;
    height: 500px;
    display: flex;
  }
  .slide input{
    display: none;
  }
  .st{
    width: 20%;
    transition: 2s;
  }
  .st img{
    width: 750px;
    height: 500px;
  }
  .nav-m{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
.m-btn{
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.m-btn:not(:last-child){
  margin-right: 30px;
}
.m-btn:hover{
  background-color: white;
}
#radio1:checked~.first{
  margin-left: 0;
}
#radio2:checked~.first{
  margin-left: -20%;
}
#radio3:checked~.first{
  margin-left: -40%;
}
#radio1:checked~.first{
  margin-left: -60%;
}
.nav-auto{
  position: absolute;
  width: 800px;
  margin-top: 460px;
  display: flex;
  justify-content: center;
}
.nav-auto div{
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.nav-auto div:not(:last-child){
  margin-right: 30px;
  justify-content: center;
}
#radio1:checked~ .nav-auto .a-b1{
  background-color: white;
}
#radio2:checked~ .nav-auto .a-b2{
  background-color: white;
}
#radio3:checked~ .nav-auto .a-b3{
  background-color: white;
}
#radio4:checked~ .nav-auto .a-b{
  background-color: white;
}
@media (max-width:800px) {
  header{
    flex-direction: column;
  }nav{
    padding-top: 20px;
    margin-left: 40px;
    
  }
  .logo{
    display: flex;
    align-items: center;
  
  }
  button{
    display: none;  
  }
  .secciones{
    grid-template-columns: repeat(1,1fr);
  }
  .menusdeldia{
    grid-template-columns: repeat(1,1fr);
  }
  .footer .footer1{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap:30px;
    padding: 35px 0px;
}
  .content h2 {
    font-size: 20px;
    margin-top: 0;
}

  .content p {
    font-size: 15px;
    min-width: 199px;
}
  #mapaa {
    width: 80%;
    max-width: 800px;
    height: 100vh;
    border: none;
}

  
}
